/* 共通 */
body {
    background-color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;    /* Googleフォント */
    
}

h1{
    color: #007bff;
}

/* login.html */
 .header-login{
    text-align: center;
 }

 div{
    text-align: center;
 }
 

/* menu.html */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header {
    width: 100%;
    margin: 0px auto 10px;
    background-color: lightcyan;
  }
  
  .menu {
    display: flex;
    justify-content: center;
  }
  
  .menu__link {
    display: block;
    padding: 10px 20px;
  }
  
  .menu__link:hover {
    background-color: #ebebeb;
    color: #666;
  }
  .kanri{
    color: #537e6a;
  }
  .kanri:hover{
    background-color: #ebebeb;
    color:  #537e6a;
  }


  .drop-menu {
    background-color: #ebebeb; /* 追記 */
    position: absolute;
    top: 43px;
    transition: all .3s;
  }
  
  .drop-menu__link {
    display: block; /* display: block;に変更 */
    background-color: #ebebeb;
    padding: 0px 20px; /* 5pxを0pxに変更 */
    line-height: 0; /* 追記 */
    transform: scaleY(0); /* 追記 */
    transition: all .3s; /* 追記 */
  }
  
  .drop-menu__link:hover {
    background-color: lightcyan;
  }
  
  /* ドロップダウン出現後のスタイル */
  .drop-menu__link.is-active {
    /* display: blockを削除 */
    padding: 5px 20px; /* 追記 */
    line-height: 1.6; /* 追記 */
    transform: scaleY(1); /* 追記 */
  }
  .drop-menu__item{
    color:#537e6a;
  }
  
  .sub-sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ebebeb;
    padding: 10px;
    list-style: none;
  }

  
  .sub-sub-menu__link:hover{
    background-color: lightcyan;
  }
  .drop-menu__item:hover .sub-sub-menu {
    display: block;
  }
  .gotop{
    text-align: center;
  }
.menu-title{
  text-align: center;
}


.grovalNavigation{
  flex: 1;
  text-align: center;
  background-color: #888;
  color: #fff;
}
.localNavigation{
  flex: 1;
  text-align: center;
  background-color: #888;
  color: #fff;
}
.content{
  flex: 2;
  text-align: center;
  background-color: #eee;
}